:root{
    --primary-color: #082229;
    --secondary-color: #0B325E;
    --tertiary-color: #2c90b7;;
}


body {
    margin: 0;
    background-color: var(--tertiary-color);
    font-family: "Raleway", sans-serif;
}

@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./Raleway/Raleway-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "Raleway";
    src: url("./Raleway//Raleway-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

.front_header {
    height: 80px;
    background-color: var(--primary-color);
    box-shadow: 0px 10px 44px 9px var(--primary-color);
    display: flex;
    align-items: center;
}

.logo {
    height: 54px;
}

footer {
    height: 80px;
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.footer_logo {
    position: fixed;
    right: 24px;
}

h1 {
    color: white;
    font-size: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 160px;
}

main {
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 40px;
    flex-direction: row;
}


.front_photo {
    height: 250px;
    width: 250px;
    margin: 8px;
    border-radius: 8px;
    border: solid var(--primary-color) 2px;
    transition: box-shadow 800ms;
}

.front_photo:hover {
    border: solid white 2px;
    box-shadow: inset -1px 3px 8px 5px var(--tertiary-color), 2px 5px 16px 0px var(--secondary-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


/* dialog */

dialog {
    background-color: #abd2e1ad;
}

.dialogTitle{
    color: var(--secondary-color);
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 800;
}

dialog.opened {
    border-radius: 8px;
    border: solid var(--secondary-color) 2px;
    transform: translateX(50px);
    transition: all 500ms ease-in;
}

dialog.opened::backdrop {
    background-color: var(--tertiary-color);
    transition: all 250ms ease-in;
}

dialog::backdrop {
    opacity: 0.8;
    background-color: var(--tertiary-color);
    transition: all 250ms ease-in;
}

dialog.closed {
    transform: translateY(50px);
    transition: all 500ms ease-in;
}

.dialog_img {
    height: 400px;
    width: 400px;
}

.dialog_btn {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 773px) {
    h1 {
        font-size: 32px;
        padding-left: 80px;
    }

    .front_photo {
        height: 200px;
        width: 200px;
    }

    footer {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    h1 {
        display: none;
    }

    .front_photo {
        height: 150px;
        width: 150px;
    }

    .dialog_img {
        height: 300px;
        width: 300px;
    }
}


@media (max-width: 390px) {
    .footer_logo {
        display: none;
    }

        .dialog_img {
        height: 250px;
        width: 250px;
    }
}